priority -50

extends c

# We want to overwrite everything in parent ft.
priority -49



snippet vmain "main() (main)" bA
#include <iostream>
using namespace std;
int main() {
    
    ${VISUAL}$0
    return 0;
}
# vim:ft=snippets:
